:root {
  --background-color: #282c34;
  --font-size: 16px;

  --main-gray-color: #c0c0c0;

  --digit-width: 13px;
  --digit-height: 23px;

  --cell-width: 16px;
  --cell-height: 16px;

  --border-dark: #7b7b7b 2px solid;
  --border-light: #fff 2px solid;

  --character-width: 26px;
  --character-height: 26px;
}