.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-width);
  height: var(--cell-height);
  user-select: none;
}

.gameOver {
  pointer-events: none;
}

.default {
  background: url(../../../sprite.png) 0 33px;
}
