.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  user-select: none;
}

.gameOver {
  pointer-events: none;
}

.default {
  background: url(../../sprite.png) 0 33px;
}
