.n1 {
  background: url(../../../sprite.png) 0 0px;
}

.n2 {
  background: url(../../../sprite.png) -14px 0px;
}

.n3 {
  background: url(../../../sprite.png) -28px 0px;
}

.n4 {
  background: url(../../../sprite.png) -42px 0px;
}

.n5 {
  background: url(../../../sprite.png) -56px 0px;
}

.n6 {
  background: url(../../../sprite.png) -70px 0px;
}

.n7 {
  background: url(../../../sprite.png) -84px 0px;
}

.n8 {
  background: url(../../../sprite.png) -98px 0px;
}

.n9 {
  background: url(../../../sprite.png) -112px 0px;
}

.n0 {
  background: url(../../../sprite.png) -126px 0px;
}
