.gameIndicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: gainsboro 5px solid;
  width: 100%;
}

.mineCounter {
  display: flex;
}

.time {
  display: flex;
}

.digit {
  width: 14px;
  height: 23px;
}

.character {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.character:active {
  background: url(../../sprite.png) -27px 60px;
}

.play {
  background: url(../../sprite.png) 0 60px;
}

.win {
  background: url(../../sprite.png) -81px 60px;
}

.lose {
  background: url(../../sprite.png) -108px 60px;
}

.fear {
  background: url(../../sprite.png) -54px 60px;
}
